<a href="https://colab.research.google.com/github/rajakumar05032000/Book-recommendation-system/blob/main/Book_recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from keras.layers import Input, Embedding,  Dense, Concatenate,SimpleRNN,GRU,Flatten,LSTM,Dropout,Bidirectional,GlobalMaxPool1D,LeakyReLU
from keras.models import Model

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#!cp -r '/content/drive/MyDrive/Preprocessed_data.csv.zip' '/content'
#!unzip Preprocessed_data.csv.zip

In [ ]:
data1=pd.read_csv("Preprocessed_data.csv")

In [ ]:
data1.head()

   Unnamed: 0  user_id                   location  ...      city       state  country
0           0        2  stockton, california, usa  ...  stockton  california      usa
1           1        8   timmins, ontario, canada  ...   timmins     ontario   canada
2           2    11400    ottawa, ontario, canada  ...    ottawa     ontario   canada
3           3    11676              n/a, n/a, n/a  ...       NaN         NaN      NaN
4           4    41385   sudbury, ontario, canada  ...   sudbury     ontario   canada

[5 rows x 19 columns]

In [ ]:
data1.drop(['location','img_s','img_m','img_l','publisher','city','state','country','Unnamed: 0'],inplace=True,axis=1)

In [ ]:
h=data1[data1.user_id==8]
h

    user_id      age  ... Language       Category
1         8  34.7439  ...       en  ['Actresses']
15        8  34.7439  ...       en  ['1940-1949']
18        8  34.7439  ...       en    ['Medical']
29        8  34.7439  ...       en     ['Design']
30        8  34.7439  ...       en    ['Fiction']
63        8  34.7439  ...       en    ['History']
68        8  34.7439  ...        9              9
71        8  34.7439  ...       en    ['Fiction']
72        8  34.7439  ...       en    ['Fiction']
73        8  34.7439  ...       en    ['Fiction']
79        8  34.7439  ...       en    ['History']
80        8  34.7439  ...        9              9
82        8  34.7439  ...        9              9
83        8  34.7439  ...        9              9
91        8  34.7439  ...        9              9
92        8  34.7439  ...       en     ['Nature']
95        8  34.7439  ...       en    ['Fiction']

[17 rows x 10 columns]

In [ ]:
data1.columns

Index(['user_id', 'age', 'isbn', 'rating', 'book_title', 'book_author',
       'year_of_publication', 'Summary', 'Language', 'Category'],
      dtype='object')

In [ ]:
data1.isnull().sum()

user_id                0
age                    0
isbn                   0
rating                 0
book_title             0
book_author            0
year_of_publication    0
Summary                0
Language               0
Category               0
dtype: int64

In [ ]:
users = len(data1.user_id.unique())
print(users)

92107

In [ ]:
print(data1.shape)

(1031175, 10)

In [ ]:
books=len(data1.isbn.unique())
print(books)

270170

In [ ]:
YearOfPublication_to_index={j:i+1 for i,j in enumerate(data1['year_of_publication'].unique())}
index_to_YearOfPublication={i+1:j for i,j in enumerate(data1['year_of_publication'].unique())}

In [ ]:
Book_to_index={j:i+1 for i,j in enumerate(data1['isbn'].unique())}
index_to_Book={i+1:j for i,j in enumerate(data1['isbn'].unique())}

In [ ]:
Category_to_index={j:i+1 for i,j in enumerate(data1['Category'].unique())}
index_to_Category={i+1:j for i,j in enumerate(data1['Category'].unique())}

In [ ]:
Language_to_index={j:i+1 for i,j in enumerate(data1['Language'].unique())}
index_to_Language={i+1:j for i,j in enumerate(data1['Language'].unique())}

In [ ]:
User_to_index={j:i+1 for i,j in enumerate(data1['user_id'].unique())}
index_to_User={i+1:j for i,j in enumerate(data1['user_id'].unique())}

In [ ]:
# from sklearn.feature_extraction.text import TfidfVectorizer
# vectorizer = TfidfVectorizer(max_features=250)
# summary_vector=vectorizer.fit_transform(data1.Summary).toarray()
# summary_vector.shape

In [ ]:
data1=data1[data1['rating'] != 0]
print(data1.shape)

(383852, 10)

In [ ]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
texts=data1["Summary"].values
max_num_words = 5000
max_seq_length = 300
tokenizer = Tokenizer(num_words=max_num_words)
tokenizer.fit_on_texts(texts)
sequences = tokenizer.texts_to_sequences(texts)
word_index = tokenizer.word_index

In [ ]:
text_data = pad_sequences(sequences, maxlen=max_seq_length)
#!wget https://nlp.stanford.edu/data/glove.6B.zip
#!unzip glove.6B.zip
import os
embedding_index = {}
glove_dir = '/content/'
f = open(os.path.join(glove_dir,'glove.6B.50d.txt'))
for line in f:
    values = line.split()
    word = values[0]
    coefs = np.asarray(values[1:],dtype='float32')
    embedding_index[word] = coefs
f.close()

print('found word vecs: ',len(embedding_index))

found word vecs:  400000

In [ ]:
embedding_dim = 50
embedding_matrix = np.zeros((len(word_index)+1,embedding_dim))
embedding_matrix.shape

for word,i in word_index.items():
    embedding_vector = embedding_index.get(word)
    if embedding_vector is not None:
        embedding_matrix[i] = embedding_vector

In [ ]:
data1['Yearofpublication_index']=[YearOfPublication_to_index.get(i) for i in data1['year_of_publication']]
data1['Book_index']=[Book_to_index.get(i) for i in data1['isbn']]
data1['Category_index']=[Category_to_index.get(i) for i in data1['Category']]
data1['Language_index']=[Language_to_index.get(i) for i in data1['Language']]
data1['User_index']=[User_to_index.get(i) for i in data1['user_id']]
data1.drop(['user_id','isbn','Category','Language','year_of_publication','book_author','book_title','Summary'],inplace=True,axis=1)

In [ ]:
data1.head()

       age  rating  ...  Language_index  User_index
1  34.7439       5  ...               1           2
3  34.7439       8  ...               1           4
5  30.0000       8  ...               1           6
8  34.7439       9  ...               1           9
9  34.7439       9  ...               1          10

[5 rows x 7 columns]

In [ ]:
from sklearn.preprocessing import  MinMaxScaler
scaler=MinMaxScaler()
scaler2=MinMaxScaler()

In [ ]:
data1=data1.head(1031175)

In [ ]:
text_data = pad_sequences(sequences, maxlen=max_seq_length)

In [ ]:
print(text_data.shape)
print(data1.shape)

(383852, 300)
(383852, 7)

In [ ]:
data1.head()

       age  rating  ...  Language_index  User_index
1  34.7439       5  ...               1           2
3  34.7439       8  ...               1           4
5  30.0000       8  ...               1           6
8  34.7439       9  ...               1           9
9  34.7439       9  ...               1          10

[5 rows x 7 columns]

In [ ]:
from sklearn.model_selection import train_test_split
train_data,test_data,train_summary,test_summary = train_test_split(data1,text_data, test_size=0.2)

In [ ]:
other_train=train_data.drop(['User_index','Book_index','rating'],axis=1)
other_train[['age','Yearofpublication_index','Category_index','Language_index']]=scaler.fit_transform(other_train[['age','Yearofpublication_index','Category_index','Language_index']])
other_train=other_train.values
train_summary.shape

(307081, 300)

In [ ]:
other_train.shape

(307081, 4)

In [ ]:
from keras.layers import Concatenate
from tensorflow import keras
from tensorflow.keras import regularizers
book1 = Input(shape=[1])
book_emb= Embedding(books+1, 5)(book1)
book_flat= Flatten()(book_emb)

user = Input(shape=[1])
user_emb = Embedding(users+1, 5)(user)
user_flat= Flatten()(user_emb)

conc1=Concatenate()([book_flat,user_flat])


text = Input(shape=(max_seq_length,))
text_emb = Embedding(len(word_index)+1,embedding_dim,weights=[embedding_matrix],input_length=max_seq_length,trainable=True)(text)
l1 =LSTM(16,return_sequences=True)(text_emb)
l2 = GlobalMaxPool1D()(l1)

other_proc = Input(shape=other_train[1].shape,name='op')
other1 = Dense(32,kernel_regularizer='l2')(other_proc)
lr1=LeakyReLU()(other1)
other2= Dropout(0.7)(lr1)
conc2= Concatenate()([conc1,lr1])


l3=  Dense(32,kernel_regularizer='l2')(l2)
lr2=LeakyReLU()(l3)
conc3= Concatenate()([conc2,lr2])
c3=Dropout(0.7)(conc3)
l4 = Dense(8)(c3)
l5= LeakyReLU()(l4)



out = Dense(1)(l5)
model1 = Model([book1, user,text,other_proc], out)
optimizer = keras.optimizers.Adam()
model1.compile(loss='mse', optimizer=optimizer)

In [ ]:
model1.summary()

Model: "model"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_3 (InputLayer)            [(None, 300)]        0
__________________________________________________________________________________________________
input_1 (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
input_2 (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
embedding_2 (Embedding)         (None, 300, 50)      4338650     input_3[0][0]
__________________________________________________________________________________________________
embedding (Embedding)           (None, 1, 5)         1350855     input_1[0][0]
__________________________________________________________________________________________________
embedding_1 (Embedding)         (None, 1, 5)         460540      input_2[0][0]
__________________________________________________________________________________________________
op (InputLayer)                 [(None, 4)]          0
__________________________________________________________________________________________________
lstm (LSTM)                     (None, 300, 16)      4288        embedding_2[0][0]
__________________________________________________________________________________________________
flatten (Flatten)               (None, 5)            0           embedding[0][0]
__________________________________________________________________________________________________
flatten_1 (Flatten)             (None, 5)            0           embedding_1[0][0]
__________________________________________________________________________________________________
dense (Dense)                   (None, 32)           160         op[0][0]
__________________________________________________________________________________________________
global_max_pooling1d (GlobalMax (None, 16)           0           lstm[0][0]
__________________________________________________________________________________________________
concatenate (Concatenate)       (None, 10)           0           flatten[0][0]
                                                                 flatten_1[0][0]
__________________________________________________________________________________________________
leaky_re_lu (LeakyReLU)         (None, 32)           0           dense[0][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 32)           544         global_max_pooling1d[0][0]
__________________________________________________________________________________________________
concatenate_1 (Concatenate)     (None, 42)           0           concatenate[0][0]
                                                                 leaky_re_lu[0][0]
__________________________________________________________________________________________________
leaky_re_lu_1 (LeakyReLU)       (None, 32)           0           dense_1[0][0]
__________________________________________________________________________________________________
concatenate_2 (Concatenate)     (None, 74)           0           concatenate_1[0][0]
                                                                 leaky_re_lu_1[0][0]
__________________________________________________________________________________________________
dropout_1 (Dropout)             (None, 74)           0           concatenate_2[0][0]
__________________________________________________________________________________________________
dense_2 (Dense)                 (None, 8)            600         dropout_1[0][0]
__________________________________________________________________________________________________
leaky_re_lu_2 (LeakyReLU)       (None, 8)            0           dense_2[0][0]
__________________________________________________________________________________________________
dense_3 (Dense)                 (None, 1)            9           leaky_re_lu_2[0][0]
==================================================================================================
Total params: 6,155,646
Trainable params: 6,155,646
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
m=model1.fit([train_data.Book_index, train_data.User_index,train_summary,other_train], train_data.rating, epochs=5, batch_size=120,validation_split=0.1,verbose=1)

Epoch 1/5
2304/2304 [==============================] - 139s 59ms/step - loss: 5.3844 - val_loss: 2.9641
Epoch 2/5
2304/2304 [==============================] - 124s 54ms/step - loss: 2.9585 - val_loss: 2.7679
Epoch 3/5
2304/2304 [==============================] - 125s 54ms/step - loss: 2.7115 - val_loss: 2.7028
Epoch 4/5
2304/2304 [==============================] - 127s 55ms/step - loss: 2.5549 - val_loss: 2.6709
Epoch 5/5
2304/2304 [==============================] - 124s 54ms/step - loss: 2.4401 - val_loss: 2.6817

In [ ]:
other_test=test_data.drop(['User_index','Book_index','rating'],axis=1)
other_test[['age','Yearofpublication_index','Category_index','Language_index']]=scaler.fit_transform(other_test[['age','Yearofpublication_index','Category_index','Language_index']])
other_test=other_test.values
model_predictions = model1.predict([test_data.Book_index,test_data.User_index,test_summary,other_test])

In [ ]:
for i in range(0,50):
  print("Model_rating:",model_predictions[i]," Original Rating:",test_data.rating.iloc[i])

Model_rating: [7.939085]  Original Rating: 7
Model_rating: [7.276123]  Original Rating: 4
Model_rating: [7.0649133]  Original Rating: 6
Model_rating: [8.626167]  Original Rating: 10
Model_rating: [7.377743]  Original Rating: 10
Model_rating: [7.541521]  Original Rating: 8
Model_rating: [7.4792795]  Original Rating: 7
Model_rating: [8.002579]  Original Rating: 9
Model_rating: [7.15345]  Original Rating: 6
Model_rating: [9.478658]  Original Rating: 10
Model_rating: [7.4199634]  Original Rating: 4
Model_rating: [8.729465]  Original Rating: 10
Model_rating: [7.9504046]  Original Rating: 7
Model_rating: [6.722909]  Original Rating: 8
Model_rating: [7.417386]  Original Rating: 8
Model_rating: [7.4233]  Original Rating: 9
Model_rating: [6.6304493]  Original Rating: 7
Model_rating: [7.3374496]  Original Rating: 7
Model_rating: [7.9675922]  Original Rating: 9
Model_rating: [5.916942]  Original Rating: 8
Model_rating: [7.956137]  Original Rating: 5
Model_rating: [7.5813103]  Original Rating: 8
Model_rating: [7.9547343]  Original Rating: 6
Model_rating: [7.5443134]  Original Rating: 6
Model_rating: [8.346107]  Original Rating: 9
Model_rating: [8.10723]  Original Rating: 9
Model_rating: [8.219895]  Original Rating: 7
Model_rating: [8.142896]  Original Rating: 9
Model_rating: [8.28446]  Original Rating: 10
Model_rating: [7.5996804]  Original Rating: 8
Model_rating: [8.047535]  Original Rating: 8
Model_rating: [7.9125676]  Original Rating: 8
Model_rating: [7.5293403]  Original Rating: 8
Model_rating: [9.475897]  Original Rating: 9
Model_rating: [7.583688]  Original Rating: 7
Model_rating: [6.2349234]  Original Rating: 7
Model_rating: [6.3515787]  Original Rating: 7
Model_rating: [7.193663]  Original Rating: 5
Model_rating: [6.9412794]  Original Rating: 4
Model_rating: [7.273525]  Original Rating: 7
Model_rating: [7.2569027]  Original Rating: 7
Model_rating: [6.05511]  Original Rating: 8
Model_rating: [9.697167]  Original Rating: 10
Model_rating: [8.636783]  Original Rating: 10
Model_rating: [7.451137]  Original Rating: 5
Model_rating: [7.8101883]  Original Rating: 7
Model_rating: [8.506831]  Original Rating: 7
Model_rating: [8.308622]  Original Rating: 7
Model_rating: [8.310072]  Original Rating: 10
Model_rating: [5.748641]  Original Rating: 5

In [ ]:
model1.evaluate([test_data.Book_index,test_data.User_index,test_summary,other_test], test_data.rating)

2400/2400 [==============================] - 46s 19ms/step - loss: 2.6959

2.6959023475646973

In [ ]:
import sklearn.metrics as metrics
mae = metrics.mean_absolute_error(test_data.rating, model_predictions)
mse = metrics.mean_squared_error(test_data.rating, model_predictions)
rmse = np.sqrt(mse)  
r2 = metrics.r2_score(test_data.rating,model_predictions)

print("MAE:",mae)
print("MSE:", mse)
print("RMSE:", rmse)
print("R-Squared:", r2)

MAE: 1.292996139816801
MSE: 2.6931800287224856
RMSE: 1.641091109208287
R-Squared: 0.19779854659579865

In [ ]:
#MAE- -0.93%
#MSE- 2.39%
#RMSE- 1.2%
#R-Squared- 16.56%